*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Verdana ;
    background-color: #f0f0f0;
    color: #333;

}
form{
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border: 5px solid rgb(6, 206, 6);
    
}
label{
    display: block;
    margin-bottom: 10px;
    font-weight: bold;

}
.input-area{
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}
.radio-input{
    display: block;
    margin-right: 40px;
    font-weight: normal;
    
}
textarea{
    width: 100%;
    height: 60px;
    padding: 5px;
    margin-bottom: 10px;
}

button{
    background-color: rgb(6, 206, 6);
    color: black;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    box-shadow: 5px;
}